@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e6f0f7; /* primary-light */
    --foreground: #212529; /* neutral-900 */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
}